/*typografie*/

@font-face {
    font-family: Nexa Regular;
    src: url("../fonts/Nexa-Regular.otf");
}

@font-face {
    font-family: Nexa Bold;
    src: url("../fonts/Nexa-Bold.otf");
}

@font-face {
    font-family: Nexa Light;
    src: url("../fonts/Nexa-Light.otf");
}

body {
    background-color: #f3e5d8;
    font-family: Nexa Regular;
    margin: 0;
    padding: 0;
}


/*header elementen*/

header {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}

header>a>img {
    height: 4em;
    width: auto;
    margin: 1em;
}

header>nav {
    margin: auto;
    margin-right: 1em;
    display: flex;
}

header>nav>ul {
    display: flex;
}

header>nav>ul>li:nth-of-type(1) {
    background-image: url(../images/heart-icon-pink.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
    margin-right: 1em;
}

header>nav>ul>li:nth-of-type(2) {
    background-image: url(../images/profile-icon-green.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
}

section>header {
    background-image: url(../images/slide-01.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
}

li>a {
    padding: 4em;
}


/*article*/

article {
    border-radius: 0.75rem;
    padding: 1.75rem 2rem;
    margin: 1.2em;
    background-color: rgba(255, 255, 255, .7);
    position: relative;
}

article>footer {
    display: flex;
}

article>footer>a:nth-of-type(1) {
    background-image: url(../images/heart-icon-pink.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
    margin-right: 1em;
}

article>footer>a:nth-of-type(1):hover {
    transform: scale(1.1);
}


/*microinteractie*/

.download {
    background-image: url(../images/download-round-green.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
    margin-right: 1em;
}

.download:hover {
    transform: scale(1.1);
}

.download.downloaden {
    background-image: url(../images/check-icon-green.png);
    animation: turning 4s;
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
        background-image: url(../images/downloading-small-green.png);
    }
    50% {
        transform: rotate(180deg);
        background-image: url(../images/downloading-small-green.png);
    }
    90% {
        transform: rotate(359deg);
        background-image: url(../images/downloading-small-green.png);
    }
    100% {
        transform: rotate(360deg);
    }
}

.notitie {
    background-image: url(../images/);
    background-size: 100%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
}

.kater {
    background-image: url(../images/);
    background-size: 100%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
}

.hongerwinter {
    background-image: url(../images/);
    background-size: 100%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
}

section {
    display: flex;
    margin: 1em auto;
    position: relative;
    max-width: 35em;
}

section>h1 {
    margin-left: 1em;
    color: #2800a0;
    position: absolute;
}

section>a:nth-of-type(1) {
    background-image: url(../images/thumbs-up-green.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 5em;
}

section>a:nth-of-type(1):hover {
    transform: scale(1.1);
}

section>a:nth-of-type(1).dislike {
    transition: .5s;
    opacity: 0;
}

section>a:nth-of-type(2) {
    background-image: url(../images/thumbs-down-red.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    list-style: none;
    margin-right: 1em;
    margin-top: 5em;
}

section>a:nth-of-type(2):hover {
    transform: scale(1.1);
}

section>a:nth-of-type(2).like {
    transition: .5s;
    opacity: 0;
}

@media and screen (min-width: 48em) {
    .notitie {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
    .kater {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
    .hongerwinter {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
}

@media and screen (min-width: 60em) {
    .notitie {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
    .kater {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
    .hongerwinter {
        background-image: url(../images/);
        background-size: 100%;
        padding-bottom: 10%;
        background-repeat: no-repeat;
    }
}